.exp-block {
  display: flex;
  margin-bottom: 15px;
}

.company-info {
  min-width: 150px;
  width: 150px;
  margin: 3px;
  margin-top: 0px;
  text-align: end;
  padding-right: 10px;
}

.bullet-point {
  font-weight: bolder;
  padding-right: 7px;
}

.exp-bullet-point {
  display: flex;
}

.title {
  color: navy;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  white-space: pre-wrap;
}

.company {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.location {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

.timeline {
  margin-top: 0px;
  margin-bottom: 0px;
}

.en .company {
  font-size: 14px;
}

.ch .company {
  font-size: 16px;
}

.en .location,
.en .timeline {
  font-size: 12px;
}

.ch .location,
.ch .timeline {
  font-size: 14px;
}
