.pro-row {
  display: flex;
}

.pro-title {
  color: navy;
  min-width: 120px;
  width: 120px;
  font-weight: bold;
  margin: 3px;
  margin-left: 0px;
}

.pro-desc {
  margin: 3px;
  padding-right: 10px;
}

.main-div {
  width: 70%;
}
